* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  font-family: Cuprum, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.item-name {
  display: inline-block;
  width:165px;
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.catalog-title {
  margin-bottom: 20px;
  padding: 30px 0 30px 27px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.services {
  background-color: #f2f6f8;
}

.title-about {
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.title-services {
  padding-top: 68px;
  padding-bottom: 27px;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-header {
  margin-bottom: 17px;
  padding-bottom: 60px;
  background-color: #f2f6f8;
}

.top-header {
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 42px;
  text-align: center;
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;;
}

.site-logo {
  float: left;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.site-logo:hover {
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
  float: left;
  width: 140px;
  padding-left: 48px;
  background: #293449 url() no-repear center;
}

.header-search::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -997px;
  opacity: 0.3;
}

.header-search:hover::before {
opacity: 1.0;
}

.header-search input{
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background-color: #293449;
  border: 0;
}

.header-btn {
  display: block;
  float: left;
  min-height: 42px;
  width: 150px;
  color: #fff;
}

.favorites-btn {
  position: relative;
  width: 115px;
  margin-left: 70px;
  padding-left: 37px;
}

.favorites-btn:hover {
  background-color: #212a3a;
}

.favorites-btn:active {
  background-color: #161d29;
}

.favorites-btn::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 28px;
  width: 14px;
  height: 16px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -651px;
  opacity: 0.3;
}

.favorites-btn:hover::before {
  opacity: 1.0;
}

.favorites-btn:active::before {
  opacity: 0.5;
}

.basket-btn {
  position: relative;
  width: 123px;
  margin-left: 9px;
  padding-left: 27px;
}

.basket-btn:hover {
background-color: #212a3a;
}

.basket-btn:active {
background-color: #161d29;
}

.basket-btn::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 17px;
  height: 16px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -615px;
  opacity: 0.3;
}

.basket-btn:hover::before {
  opacity: 1.0;
}

.basket-btn:active::before {
  opacity: 0.5;
}

.order-btn {
  background-color: #63a63e;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active {
  background-color: #518534;
}

.basket-btn-active {
  background-color: #ee3643;
}

.header-information {
  padding-bottom: 37px;
}

.site-name {
  float: left;
  width: 200px;
  padding-left: 52px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.technomart-contacts {
  float: left;
  width: 270px;
  margin-left: 68px;
}

.contacts-phone {
  position: relative;
  display: block;
  width: 195px;
  margin-bottom: 5px;
  padding:10px 0 10px 72px;
  font-size: 21px;
  line-height: 17px;
  color: #e9292a;
  border: 3px solid #fff;
}

.contacts-phone::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;
  width: 19px;
  height: 19px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -958px;
}

.contacts-address {
  padding-left:10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter-site {
  float: right;
  width: 281px;
}

.enter-link, .registration-link {
  float: left;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fbfcfd;
}

.enter-link {
  position: relative;
  padding: 11px 25px 11px 46px;
}

.enter-link:hover {
  color: #ee3643;
}

.enter-link:active {
  color: #ccc;
}

.enter-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -889px;
}

.enter-link:hover::before {
  background-position: -10px -540px;
}

.enter-link:active::before {
  background-position: -10px -889px;
  opacity: 0.5;
}

.registration-link {
  margin-left: 10px;
  padding: 11px 25px 11px 25px;
}

.registration-link:hover {
  color: #ee3643;
}

.registration-link:active {
  color: #ccc;
}

.user-block {
  float: left;
  width: 300px;
  margin-left: 50px;
}

.user-control {
  background-color: #fff;
  margin-bottom: 9px;
}

.user-name {
  position: relative;
  display: block;
  float: left;
  width: 193px;
  padding: 11px 0 13px 47px;
  font-size:21px;
  line-height: 18px;
  color: #000;
}

.user-name:active {
  color: #ccc;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 18px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position:  -10px -1034px;
}

.user-name:hover::before {
  background-position: -10px -577px;
}

.user-name:active::before {
  background-position: -10px -1034px;
  opacity: 0.5;
}

.icon-exit {
  position: relative;
  float:left;
  width: 60px;
  font-size: 0;
}

.icon-exit::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  width: 21px;
  height: 17px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position: -10px -728px;
}

.icon-exit:hover::before {
  background-position: -10px -503px;
}

.icon-exit:active::before {
  background-position: -10px -728px;
  opacity: 0.5;
}

.control-link {
  display: block;
  float: left;
  width: 89px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.control-link:hover {
  color: #ee3643;
}

.control-link:active {
  color: #000;
}

.control-link:nth-child(2) {
  width: 110px;
  margin: 0;
  padding-left: 17px;
}

.main-navigation {
  width: 940px;
  font-size: 0;
  background-color: #32425c;
}

.main-navigation ul {
  margin-left: 21px;
}

.main-navigation li {
  display: inline-block;
  list-style: none;
}

.main-navigation a {
  padding: 22px 31px 26px 31px;
  font-size: 17px;
  line-height: 60px;
  color: #fff;
}

.main-navigation li:hover {
  background-color: #2c384f;
}

.main-navigation li:active {
  background-color: #222d41;
}

.banners1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.banner {
  float: left;
  margin-right: 20px;
  width: 300px;
}

.banner-materials {
  background: #f6b22d url(../img/icon-promo-materials.png) no-repeat right 41px center;
}

.banner-instruments {
  margin-left: 0;
  background: #4aafde url(../img/icon-promo-instruments.png) no-repeat right 28px center;
}

.banner-construction {
  margin-right: 0;
  background: #cc79d1 url(../img/icon-promo-construction.png) no-repeat right 30px center;
}

.promo-title {
  margin-bottom: 12px;
  padding-top: 20px;
  padding-left: 23px;
  font-size:24px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
}

.promo-link {
  display: block;
  width: 135px;
  margin-left: 25px;
  margin-bottom: 22px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.promo-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  float: left;
  width: 620px;
  height: 266px;
  margin-bottom: 53px;
  margin-right: 20px;
  background-image: url(../img/catalog-slider1.jpg);
}

.slider ul {
  font-size: 0;
}

.banner-discounts {
  margin-right: 0;
  margin-bottom: 22px;
  background: #85d179 url(../img/icon-promo-discaunts.png) no-repeat right 44px center;;
}

.banner-delivery {
  margin-right: 0;
  background: #f6b22d url(../img/icon-promo-delivery.png) no-repeat right 30px center;;
}

.slider-title {
  padding-top: 27px;
  padding-bottom: 5px;
  padding-left: 24px;
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}

.slider-description {
  margin-bottom: 65px;
  padding-left: 24px;
  padding-bottom: 21px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}

.open-catalog {
  display: block;
  width: 196px;
  margin-left: 25px;
  padding: 9px 0 9px 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.popular-header {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-items {
  margin-bottom: 20px;
}

.popular-item {
  width: 218px;
  float: left;
  margin-right: 20px;
  font-size: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item:last-child .item-name {
  margin-bottom: 40px;
}

.item-image {
  margin-bottom: 5px;
}

.index-title {
  float: left;
  width: 436px;
  padding: 30px 0 30px 24px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.btn-title {
  display: block;
  float: right;
  width: 253px;
  margin-top: 25px;
  margin-right: 24px;
  padding: 11px 0 11px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.suppliers {
  margin-bottom: 67px;
}

.supplier {
  float: left;
  display: block;
  width: 218px;
  height: 144px;
  margin-right: 22px;
}

.supplier:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 20px;
}

.about-magazine {
  width: 400px;
  margin-bottom: 70px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-services {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-bottom: 104px;
}

.btn-delivery, .btn-guarantee, .btn-credit {
  display: block;
  padding: 15px 0 15px 23px;
  width: 217px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background-color: #32425c;
}

.btn-services-active {
  color: #32425c;
  background-color: #fff;
}

.services-delivery {
  float: left;
  padding-bottom: 102px;
}

.title-service {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.gallery-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company {
  margin-bottom: 87px;
  padding-top: 83px;
}

.about-technomart {
  float: left;
  width: 540px;
}

.title-about-text1 {
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.title-about-text2 {
  width: 400px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transport-companies li{
  margin-bottom: 20px;
  padding-left: 37px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.transport-companies {
  margin-bottom: 38px;
}

.contacts {
  float: left;
  margin-left: 100px;
}

.title-about-text3 {
  width: 180px;
  margin-bottom: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-about-company {
  display: block;
  width: 220px;
  padding: 9px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.contacts img {
  margin-bottom: 30px;
}

.btn-map {
  display: block;
  width: 300px;
  padding: 9px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.breadcrumbs ul {

}

.breadcrumbs {
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  margin-left: 18px;
  padding-left: 23px;
  list-style: none;
  background-image: url(../img/shape-breadcrumbs.png);
  background-position: 0, 2px;
  background-repeat: no-repeat;
}

.breadcrumbs li:first-child {
  margin-left: 0;
  padding-left: 0;
  font-size: 0;
}

.breadcrumbs li:nth-child(2) {
  margin-left: 0;
  padding-left: 13px;
}

.breadcrumbs a, .active-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.catalog-content {
  float: left;
  width: 220px;
}

.catalog-filters {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-product {
  float: right;
  width: 680px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 11px 0 11px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0;
  background-color: #f7f3ec;
}

.title-filters {
  background-color: #f7f3ec;
  padding: 11px 0 11px 19px;
}

.sorting {
  display: inline-block;
}

.sorting-product li {
  float: left;
  padding: 0 20px 0 20px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.items {
  float: right;
  margin-bottom: 25px;
  width:700px;
}

.item {
  float: left;
  margin: 0 20px 20px 0;
  width: 218px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.item:nth-child(3n) {
  margin: 0 0 15px 0;
}

.item:nth-child(3n) .item-name{
  margin-bottom: 40px;
}

.item-btns {
  display: none;
}

.price-item {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999;
}

.sale-price {
  display: block;
  width: 141px;
  margin-left: 41px;
  margin-bottom: 21px;
  padding: 9px 0 9px 0;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-image: url(../img/sale-price.png);
}

.catalog-result {
  margin-bottom: 15px;
}

.pagination {
  margin-left: 240px;
}

.pagination li{
  display: block;
  float: left;
  width: 38px;
  margin-right: 10px;
  margin-bottom: 60px;
  list-style: none;
}

.pagination li:first-child a{
  border: 0;
  color: #fff;
  background-color: #ee3643;
}

.pagination li:last-child a {
  padding: 10px 30px 10px 33px;
  text-transform: uppercase;
}

.pagination a {
  padding: 10px 15px 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #000;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.product-description {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #f5f8fa;
}

.product-title {
  padding-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
}

.main-footer {
  background-color: #32425c;
}

.footer-top {
  margin-bottom: 15px;
}

.footer-logo {
  float: left;
  margin-bottom: 10px;
  width: 220px;
  height: 70px;
  background-color: #ee3643;
}

.footer-menu {
  float: right;
  width: 604px;
  padding-top: 37px;
  font-size: 0;
}

.footer-menu li {
  display: inline-block;
  padding-left: 58px;
}

.footer-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-address {
  float: left;
  margin-bottom: 46px;
  width: 350px;
  font-size: 18px;
  color: #fff;
}

.catalog-menu {
  float: right;
  width: 573px;
}

.footer-line {
  font-size: 0;
}

.catalog-menu li {
  display: inline-block;
  padding-left: 52px;
}

.catalog-menu a {
  font-size: 18px;
  color: #ffd180;
}

.catalog-menu a:hover {
  text-decoration: underline;
}

.catalog-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  color: #fff;
}

.footer-bottom a{
  color: #ffd180;
}

.footer-bottom a:hover{
  text-decoration: underline;
}

.footer-bottom a:active{
  text-decoration: none;
  color: #ee3643;
}

.footer-copyright {
  float: left;
  width: 230px;
  padding: 42px 0 29px 0;
  font-size: 16px;
  line-height: 18px;
}

.social-btns {
  position: relative;
  float: left;
  width: 150px;
  margin-left: 147px;
  margin-top: 30px;
  font-size: 0;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 41px;
  height: 42px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position:  -10px -1072px;
}

.social-btn-vk:hover::before {
  background-position: -10px -171px;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 59px;
  width: 42px;
  height: 42px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position:  -10px -765px;
}

.social-btn-fb:hover::before {
  background-position: -10px -10px;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 105px;
  width: 42px;
  height: 42px;
  background: transparent url("../img/sprite1.png") no-repeat;
  background-position:  -10px -827px;
}

.social-btn-inst:hover::before {
  background-position: -10px -72px;
}

.communication {
  float: left;
  width: 140px;
  margin-left: 113px;
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
}

.developer {
  float: left;
  margin-left: 50px;
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
}
