* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  font-family: Cuprum, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.item-name {
  display: inline-block;
  width:165px;
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.catalog-title {
  margin-bottom: 20px;
  padding: 30px 0 30px 27px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.services {
  background-color: #f2f6f8;
}

.title-about {
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.title-services {
  padding-top: 68px;
  padding-bottom: 27px;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-header {
  margin-bottom: 17px;
  padding-bottom: 60px;
  background-color: #f2f6f8;
}

.top-header {
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 42px;
  text-align: center;
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;;
}

.site-logo {
  float: left;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.header-search {
  float: left;
  width: 140px;
  padding-left: 48px;
}

.header-search input{
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  border: 0;
}

.header-btn {
  display: block;
  float: left;
  min-height: 42px;
  width: 150px;
  color: #fff;
}

.favorites-btn {
  width: 115px;
  margin-left: 70px;
  padding-left: 37px;
}

.basket-btn {
  width: 123px;
  margin-left: 9px;
  padding-left: 27px;
}

.order-btn {
  background-color: #63a63e;
}

.basket-btn-active {
  background-color: #ee3643;
}

.header-information {
  padding-bottom: 37px;
}

.site-name {
  float: left;
  width: 200px;
  padding-left: 52px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.technomart-contacts {
  float: left;
  width: 270px;
  margin-left: 68px;
}

.contacts-phone {
  display: block;
  width: 195px;
  margin-bottom: 5px;
  padding:10px 0 10px 72px;
  font-size: 21px;
  line-height: 17px;
  color: #e9292a;
  border: 3px solid #fff;
}

.contacts-address {
  padding-left:10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter-site {
  float: right;
  width: 281px;
}

.enter-link, .registration-link {
  float: left;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fbfcfd;
}

.enter-link {
  padding: 11px 25px 11px 46px;
}

.registration-link {
  margin-left: 10px;
  padding: 11px 25px 11px 25px;
}

.user-block {
  float: left;
  width: 300px;
  margin-left: 50px;
}

.user-name {
  display: block;
  margin-bottom: 9px;
  padding: 11px 0 13px 47px;
  font-size:21px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}

.icon-exit {
  font-size: 0;
}

.control-link {
  display: block;
  float: left;
  width: 89px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.control-link:nth-child(2) {
  width: 110px;
  margin: 0;
  padding-left: 17px;
}

.main-navigation {
  width: 940px;
  font-size: 0;
  background-color: #32425c;
}

.main-navigation ul {
  margin-left: 21px;
}

.main-navigation li {
  display: inline-block;
  list-style: none;
}


.main-navigation a {
  padding: 22px 31px 26px 31px;
  font-size: 17px;
  line-height: 60px;
  color: #fff;
}

.banners1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.banner {
  float: left;
  margin-right: 20px;
  width: 300px;
}

.banner-materials {
  background: #f6b22d url(../img/icon-promo-materials.png) no-repeat right 41px center;
}

.banner-instruments {
  margin-left: 0;
  background: #4aafde url(../img/icon-promo-instruments.png) no-repeat right 28px center;
}

.banner-construction {
  margin-right: 0;
  background: #cc79d1 url(../img/icon-promo-construction.png) no-repeat right 30px center;
}

.promo-title {
  margin-bottom: 12px;
  padding-top: 20px;
  padding-left: 23px;
  font-size:24px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
}

.promo-link {
  display: block;
  width: 135px;
  margin-left: 25px;
  margin-bottom: 22px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.slider {
  float: left;
  width: 620px;
  height: 266px;
  margin-bottom: 53px;
  margin-right: 20px;
}

.banner-discounts {
  margin-right: 0;
  margin-bottom: 22px;
  background: #85d179 url(../img/icon-promo-discaunts.png) no-repeat right 44px center;;
}

.banner-delivery {
  margin-right: 0;
  background: #f6b22d url(../img/icon-promo-delivery.png) no-repeat right 30px center;;
}

.slider-title {
  margin-top: 27px;
  margin-bottom: 5px;
  margin-left: 24px;
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-description {
  margin-left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.open-catalog {
  display: block;
  width: 196px;
  margin-left: 30px;
  padding: 8px 0 8px 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-header {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-items {
  margin-bottom: 20px;
}

.popular-item {
  width: 218px;
  float: left;
  margin-right: 20px;
  font-size: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item:last-child .item-name {
  margin-bottom: 40px;
}

.item-image {
  margin-bottom: 5px;
}

.index-title {
  float: left;
  width: 436px;
  padding: 30px 0 30px 24px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.btn-title {
  display: block;
  float: right;
  width: 253px;
  margin-top: 25px;
  margin-right: 24px;
  padding: 11px 0 11px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.suppliers {
  margin-bottom: 67px;
}

.supplier {
  float: left;
  display: block;
  width: 218px;
  height: 144px;
  margin-right: 22px;
}

.supplier:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 20px;
}

.about-magazine {
  width: 400px;
  margin-bottom: 70px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-services {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-bottom: 104px;
}

.btn-delivery, .btn-guarantee, .btn-credit {
  display: block;
  padding: 15px 0 15px 23px;
  width: 217px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background-color: #32425c;
}

.btn-services-active {
  color: #32425c;
  background-color: #fff;
}

.services-delivery {
  float: left;
  padding-bottom: 102px;
}

.title-service {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.gallery-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company {
  margin-bottom: 87px;
  padding-top: 83px;
}

.about-technomart {
  float: left;
  width: 540px;
}

.title-about-text1 {
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.title-about-text2 {
  width: 400px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transport-companies li{
  margin-bottom: 20px;
  padding-left: 37px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.transport-companies {
  margin-bottom: 38px;
}

.contacts {
  float: left;
  margin-left: 100px;
}

.title-about-text3 {
  width: 180px;
  margin-bottom: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-about-company {
  display: block;
  width: 220px;
  padding: 9px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.contacts img {
  margin-bottom: 30px;
}

.btn-map {
  display: block;
  width: 300px;
  padding: 9px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.breadcrumbs {
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  margin-left: 18px;
  padding-left: 23px;
  list-style: none;
}

.breadcrumbs li:first-child {
  font-size: 0;
}

.breadcrumbs li:nth-child(2) {
  margin-left: 0;
  padding-left: 13px;
}

.breadcrumbs a, .active-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.catalog-content {
  float: left;
  width: 220px;
}

.catalog-filters {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-product {
  float: right;
  width: 680px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 11px 0 11px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0;
  background-color: #f7f3ec;
}

.title-filters {
  background-color: #f7f3ec;
  padding: 11px 0 11px 19px;
}

.sorting {
  display: inline-block;
}

.sorting-product li {
  float: left;
  padding: 0 20px 0 20px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.items {
  float: right;
  margin-bottom: 25px;
  width:700px;
}

.item {
  float: left;
  margin: 0 20px 20px 0;
  width: 218px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.item:nth-child(3n) {
  margin: 0 0 15px 0;
}

.item:nth-child(3n) .item-name{
  margin-bottom: 40px;
}

.item-btns {
  display: none;
}

.price-item {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999;
}

.sale-price {
  display: block;
  width: 141px;
  margin-left: 41px;
  margin-bottom: 21px;
  padding: 9px 0 9px 0;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-image: url(../img/sale-price.png);
}

.catalog-result {
  margin-bottom: 15px;
}

.pagination {
  margin-left: 240px;
}

.pagination li{
  display: block;
  float: left;
  width: 38px;
  margin-right: 10px;
  margin-bottom: 60px;
  list-style: none;
}

.pagination li:first-child a{
  border: 0;
  color: #fff;
  background-color: #ee3643;
}

.pagination li:last-child a {
  padding: 10px 30px 10px 33px;
  text-transform: uppercase;
}

.pagination a {
  padding: 10px 15px 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #000;
}

.product-description {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #f5f8fa;
}

.product-title {
  padding-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
}

.main-footer {
  background-color: #32425c;
}

.footer-top {
  margin-bottom: 15px;
}

.footer-logo {
  float: left;
  margin-bottom: 10px;
  width: 220px;
  height: 70px;
  background-color: #ee3643;
}

.footer-menu {
  float: right;
  width: 604px;
  padding-top: 37px;
  font-size: 0;
}

.footer-menu li {
  display: inline-block;
  padding-left: 58px;
}

.footer-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer-address {
  float: left;
  margin-bottom: 46px;
  width: 350px;
  font-size: 18px;
  color: #fff;
}

.catalog-menu {
  float: right;
  width: 573px;
}

.footer-line {
  font-size: 0;
}

.catalog-menu li {
  display: inline-block;
  padding-left: 52px;
}

.catalog-menu a {
  font-size: 18px;
  color: #ffd180;
}

.footer-bottom {
  color: #fff;
}

.footer-bottom a{
  color: #ffd180;
}

.footer-copyright {
  float: left;
  width: 230px;
  padding: 42px 0 29px 0;
  font-size: 16px;
  line-height: 18px;
}

.social-btns {
  float: left;
  width: 150px;
  margin-left: 160px;
  padding-top: 37px;
}

.communication {
  float: left;
  width: 140px;
  margin-left: 100px;
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
}

.developer {
  float: left;
  margin-left: 50px;
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
}
